# Ignore bin and obj folders
bin/
obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore build output
*.exe
*.dll
*.pdb

# Ignore project files
*.log
*.vspscc
.vscode/
.vs/

# Ignore other files
*.cache
*.config
*.ide
